<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
  <% (0...@product.images.count).each do |images| %>
   <div style = "width:200px; height: 300px;">
    <%= image_tag(@product.images[images], style: 'width:100%; height: auto') %>
    <% end %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
